<h1>Delete user - <strong>{{name}}</strong> - Are you sure ?</h1>

<form class="delete" action="/user/{{id}}/delete" method="post">
  <p><button type="submit" name="button">Yes</button></p>
  <p><button type="submit" name="button">No</button></p>
</form>
