<h1>{{name}}</h1>

<form class="user" action="/user/{{id}}" method="post">
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="email" value="{{email}}">
  <button type="submit" name="button">Update</button>
</form>
