
<h1>New Users</h1>

<form class="newuser" action="/user-new" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placehodler="user@example.org">
  <button type="submit" name="button">Submit</button>
</form>
